<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>
<%= image_tag(@user.avatar_url) if @user.avatar? %>

<% if @user.followers.any? %>
  <p>  Followers <%= @user.followers.count %></p>
<% end %>

<% if @user.followeds.any? %>
  <p>  Following <%= @user.followeds.count %></p>
<% end %>

<% if @user.tweets.any? %>
  <p> <%= @user.tweets.count %> Tweets</p>

  <strong>Tweets:</strong>

  <% @user.tweets.each do |tweet| %>
    <div>
      <%= tweet.text %>
    </div>
    <div>
      Posted <%= time_ago_in_words(tweet.created_at) %> ago
    </div>
  <% end %>
<% end %>
