<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>
<%= image_tag(@user.avatar_url) if @user.avatar? %>

<p>  Followers <%= @user.followers.count %></p>
<% if @user == current_user %>
  <%= link_to follows_path do %>
    <p>  Following <%= @user.followed_users.count %></p>
  <% end %>
<% else %>
  <p>  Following <%= @user.followed_users.count %></p>
<% end %>

<% if @user.tweets.any? %>
  <p> <%= @user.tweets.count %> Tweets</p>
  <strong>Tweets:</strong>
  <% @user.tweets.each do |tweet| %>
    <div><%= tweet.text %></div>
    <div>Posted <%= time_ago_in_words(tweet.created_at) %> ago</div>
  <% end %>
<% end %>
