<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Create Tweet', new_tweet_path %>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>
<div id="avatar"><%= image_tag(@user.avatar_url) if @user.avatar? %></div>

<% if @user.tweets.any? %>
  <p> <%= @user.tweets.count %> Tweets</p>

  <strong>Tweets:</strong>

  <% @user.tweets.each do |tweet| %>
    <div>
      <%= tweet.text %>
    </div>
    <div>
      Posted <%= time_ago_in_words(tweet.created_at) %> ago
    </div>
  <% end %>
<% end %>
